# Sklearn Preprocessing Techniques

---

## Import modules

In [1]:
# standard

import pandas as pd

## Import Data

In [2]:
!ls

LICENSE                 Untitled.ipynb
README.md               preprocessing_data.xlsx

In [15]:
df1 = pd.read_excel('preprocessing_data.xlsx', sheet_name=1)
df1

   f1  f2 f3   t1
0  as  10  a  blr
1  sp  20  b  nyc
2  as  30  c  lax
3  ks  40  d  nyc
4  sp  50  e  nyc